
.blogs-section{
    padding: 64px 100px;
    width: 100%;

}

.blogs-container> .message-heading{
    color: #272D37;
    max-width: 800px;
    text-align: center;
    margin: auto;
    letter-spacing: -2%;
    font-weight: 700;
}


.blogs{
    margin-top: 64px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 64px;
    column-gap: 10px;
}
.card1{
    display: flex;
    height: 552px;
    width: 384px;
    flex-direction: column;
    gap: 10px;
    border-radius: 5px;
}

.card1>h3{
    color: #272D37;
    font-size: 22px;
    letter-spacing: -1%;
    font-weight: 600;
}
.card1>p{
    color: #5F6D7E;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: -0.1px;
}


.writer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.writer>p{
    color: #5F6D7E;
}




@media screen and (max-width:1150px) {
    .blogs-section{
        padding: 50px;
    }    
}



@media screen and (max-width:1070px) {
    .blogs-section{
        padding: 50px;
    }    
     .blogs .card1:nth-child(3) {
  display: none;
}
}

@media screen and (max-width:1050px) {
    .blogs-section{
        padding: 32px;
    } 
    .blogs-container >.message-heading{
        font-size: 32px;

    }
    .card1{
    display: flex;
    height: 578px;
    width: 336px;
    flex-direction: column;
    gap: 24px;

    }
    .blogs{
    margin-top: 64px;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    gap: 14px;
    
    column-gap: 10px;
}

   
}



@media screen and (max-width:600px) {
    .blogs-section{
        padding: 16px;
    } 
    .blogs-container >.message-heading{
        font-size: 24px;
    }
    .blogs{
        flex-wrap: wrap;
        justify-content: center;
    }
    .card1{
        width: 343px;
    }
}