
.section4{
    width: 100%;
    padding: 64px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.left-img-section4>img{
  width: 560px;
  height: 560px;
}

.feature-left{
    display: flex;
    width: 50%;
    flex-direction: column;
    row-gap: 32px;
}


@media screen and (max-width:1150px) {
    .section4{
        padding: 50px;
    }
    .left-img-section4>img{
  width: 400px;
  height: 400px;
}
    
}

@media screen and (max-width:1150px) {
  .section4{
    padding: 32px;
    flex-direction: column;
    row-gap: 32px;
  }
  .feature-left{
    width: 100%;
  }
}

@media screen and (max-width:600px) {
  .left-img-section4>img{
  width: 343px;
  height: 343px;
}
  .section4{
    padding: 16px;
    flex-direction: column;
    row-gap: 32px;
  }
  
}