.message-section {
  background: #ffffff;
  color: #272d37;
  padding: 64px 100px;
  max-width: 100%;
}

.message-heading {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.message-heading > h2 {
  font-size: 32px;
  letter-spacing: -2%;
  font-weight: 700;
}
.message-heading > p {
  font-size: 16px;
  letter-spacing: -0.1px;
  color: #5f6d7e;
  font-weight: 400;
}

.box-section {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  column-gap: 32px;
  row-gap: 64px;
  margin-top: 64px;
}

.msg-box {
  height: 220px;
  max-width: 384px;
  width: auto;
  border-radius: 5px;

  display: flex;
  justify-content: start;
  gap: 16px;
  flex-direction: column;
  align-items: start;
  position: relative;
}
.msg-box > img {
  width: 48px;
  height: 48px;
  border-radius: 30px;
}

.msg-box > h4 {
  font-size: 22px;
  letter-spacing: -1%;
  font-weight: 600;
}

.msg-box > p {
  color: #5f6d7e;
  font-size: 16px;
  letter-spacing: -0.1px;
  font-weight: 400;
}
.msg-box > .learn-more {
  color: #437ef7;
  font-size: 15px;
  font-weight: 600;

  letter-spacing: 0px;
  height: 100%;
  display: flex;
  justify-content: start;
  align-items: end;
}

.learn-more > .arrow-icon {
  width: 20px;
  height: 20px;
  position: relative;
  top: -1px;
  margin-left: 5px;
}

@media screen and (min-width: 1600px) {
  .message-section {
    padding: 50px 160px;
  }
  .message-heading > h2 {
    font-size: 40px;
  }

  .message-heading > p {
    font-size: 18px;
  }

  .box-section {
    column-gap: 48px;
    row-gap: 80px;
  }

  .msg-box {
    max-width: 500px;
    height: auto;
    padding: 24px;
  }

  .msg-box > h4 {
    font-size: 26px;
  }

  .msg-box > p {
    font-size: 18px;
  }

  .msg-box > .learn-more {
    font-size: 16px;
  }

  .learn-more > .arrow-icon {
    width: 24px;
    height: 24px;
  }
}

@media screen and (min-width: 1920px) {
  .message-section {
    padding: 70px 240px;
  }

  .msg-box {
    max-width: 600px;
  }
}



@media screen and (max-width: 1350px) {
  .message-section {
    padding: 50px;
  }
}

@media screen and (max-width: 1050px) {
  .message-section {
    padding: 32px;
  }
  .box-section {
    gap: 32px;
    row-gap: 48px;
  }
  .msg-box {
    width: auto;
    height: 220px;
  }
}

@media screen and (max-width: 776px) {
  .message-section {
    padding: 32px;
  }
  .box-section {
    gap: 16px;
    row-gap: 48px;
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 columns */
    
  }
  .msg-box {
    width: auto;
    height: auto;
  }
}

@media screen and (max-width: 600px) {
  .message-heading > h2 {
    font-size: 24px;
    letter-spacing: -2%;
    font-weight: 700;
    

  }
  .box-section{
    display: flex;
    flex-direction: column;
    row-gap: 40px;
    padding: 32px 0;
    margin: 0;
  }
  
  .msg-box > h4 {
    font-size: 20px;
  }
  .message-section {
    padding: 32px 16px;
  }
}
