.message-section{
    background: #ffffff;
    color: #272D37;
    padding: 64px 100px;
}

.message-heading{
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.message-heading>h2{
    font-size: 32px;
    letter-spacing: -2%;
}
.message-heading>p{
    font-size: 16px;
    letter-spacing: -0.1px;
    color: #5F6D7E;
}



.box-section{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 64px;
    margin-top: 64px;
}

.msg-box{
    height: 220px;
    width: 384px;
    border-radius: 5px;
    
    display: flex;
    justify-content: start;
    gap: 16px;
    flex-direction: column;
    align-items: start;
    position: relative;

}
.msg-box >img{
    width: 48px;
    height: 48px;
    border-radius: 30px;
}

.msg-box>h4{
    font-size: 22px;
    letter-spacing: -1%;
    font-weight: 600;
}

.msg-box>p{
    color: #5F6D7E;
    font-size: 16px;
    letter-spacing: -0.1px;
    font-weight: 400;
}
.msg-box> .learn-more{
    color: #437EF7;
    font-size: 15px;
    font-weight: 600;

    letter-spacing: 0px;
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: end;
}

.learn-more>.arrow-icon{
    width: 20px;
    height: 20px;
    position: relative;
    top: -1px;
    margin-left: 5px;

}