.sendemail{
    width: 100%;
    padding: 64px 100px;
}

.sendemail-container{
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.sendemail-container>h4{
    color: #437EF7;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: -0.1px;
    text-align: center;

}
.sendemail-container>h2{
    width: 800px;
    margin: auto;
    font-size: 32px;
    font-weight: 600;
    text-align: center;
    letter-spacing: -1%;
    color: #272D37;
}


.email-input{
    margin: auto;
    color: #000;
    width: 512px;
    height: 46px;
    border-radius: 6px;
    
    background: #ffffff;
    display: flex;
    justify-content: space-between;
    border: 1px solid  #1018280A;
}

.email-input>input{
    padding: 8px 16px;
    width: 424px;
    height: 46px;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    
    border: 0.5px solid #DAE0E6;
    box-shadow: 1px 2px #1018280A;
    color: #919BA7;
    font-size: 15px;
    font-weight: 400px;
    letter-spacing: -0.1px;
    
}

.email-input>button{
    width: 88px;
    height: 46px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    background: #437EF7;
    color: #ffffff;
}


.list-tags{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 40px;

}

.list-tags> li{
    
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    color: #272D37;
    font-size: 16px;
    letter-spacing: -0.1px;
    font-weight: 500;
    list-style: none;

}