.sendemail{
    width: 100%;
    padding: 64px 100px;
}

.sendemail-container{
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.sendemail-container>h4{
    color: #437EF7;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: -0.1px;
    text-align: center;

}
.sendemail-container>h2{
    max-width: 800px;
    margin: auto;
    font-size: 32px;
    font-weight: 600;
    text-align: center;
    letter-spacing: -1%;
    color: #272D37;
}


.email-input{
    margin: auto;
    color: #000;
    width: 512px;
    height: 46px;
    border-radius: 6px;
    
    background: #ffffff;
    display: flex;
    justify-content: space-between;
    border: 1px solid  #1018280A;
}

.email-input>input{
    padding: 8px 16px;
    width: 424px;
    height: 46px;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    
    border: 0.5px solid #DAE0E6;
    box-shadow: 1px 2px #1018280A;
    color: #919BA7;
    font-size: 15px;
    font-weight: 400px;
    letter-spacing: -0.1px;
    
}

.email-input>button{
    width: 88px;
    height: 46px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    background: #437EF7;
    color: #ffffff;
}


.list-tags{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 40px;

}

.list-tags> li{
    
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    color: #272D37;
    font-size: 16px;
    letter-spacing: -0.1px;
    font-weight: 500;
    list-style: none;

}
.list-tags>li>img{
    width: 20px;
    height: 20px;
}

@media screen and (max-width:1150px) {
    .sendemail{
        padding: 50px;
    }
    
}

@media screen and (max-width:1050px) {
    .sendemail{
        padding: 32px;
    }
    
}

@media screen and (max-width:600px) {
    .sendemail{
        padding: 32px 16px;
    }
    .sendemail-container{
        gap: 24px;
    }
    .sendemail-container>h4{
        font-size: 14px;
    }
    .sendemail-container>h2{
        font-size: 28px;
    }
    .email-input{

    width: 100%;
    height: auto;
    row-gap: 16px;
    border-radius: 6px;

    flex-direction: column;

}

.email-input>input{
    width: 100%;
    height: 46px;
    border-radius: 6px;
    
    
    
}

.email-input>button{
    width: 100%;
    height: 48px;
    border-radius: 6px;


}


.list-tags{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-around;
    align-items: center;
    width: auto;
    margin: auto;
    column-gap: 40px;
    row-gap: 16px;

}

.list-tags> li{
    
    display: flex;
    justify-content: start;
    align-items: start;
    gap: 12px;
    color: #272D37;
    font-size: 16px;
    letter-spacing: -0.1px;
    font-weight: 500;
    list-style: none;

}
}