.thanks-section-container{
    padding: 64px 100px;
}
.thanks-section-container>div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #F8F9FB;
    border-radius: 10px;
    row-gap: 32px;
    height: 316px;

}

.thanks-section-container>div>h4{
    font-size: 28px;
    letter-spacing: -1%;
    font-weight: 500;
    max-width: 844px;
    text-align: center;
    color: #272D37;
}


.logo-black-sec{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.logo-black-sec> .logo-black{
    width: 120px;
    height: 22.4px;

}

.ceo-card{
    display: flex;
    width: 146px;
    height: 42px;
    flex-direction: row;
    gap: 10px;
}
.ceo-card>div>img{
    width: 40px;
    border-radius: 50px;
}

.ceo-card>div>h4{
    color: #272D37;
    letter-spacing: -0.1px;
    font-weight: 500;
}
.ceo-card>div>p{
    color: #5F6D7E;
    letter-spacing: -0.1px;
    font-weight: 500;
    font-size: 14px;
}




@media screen and (max-width:1150px) {
    .thanks-section-container{
        padding: 50px;
    }
    
}

@media screen and (max-width:1050px) {
    .thanks-section-container{
        padding: 32px;
    }
    .thanks-section-container>div{
        justify-content: start;
        align-items: start;
    }
    .thanks-section-container>div>h4{
        font-size: 22px;
        font-weight: 600;
        width: auto;
        text-align: start;
    }
    .logo-black-sec{
    display: flex;
    justify-content: start;
    align-items: start;
    width: 100%;
   }
   .logo-black{
    width: 128px;
    height: 32px;
   }
   
}


@media screen and (max-width:1050px) {
.thanks-section-container>div>h4{
    font-size: 20px;
}
.thanks-section-container>div{
    height: auto;
    padding: 16px;
}
}