.usedby-section{
    width: 100%;
    padding: 64px 100px;
}
.usedby-container{
    display: flex;
    flex-direction: column;
    row-gap: 64px;
}

.usedby-desc{
    width: 800px;
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    row-gap: 8px;
}
.usedby-desc>h2{
    font-weight: 700;
    font-size: 32px;
    letter-spacing: -2%;
    color: #272D37;
    text-align: center;
}

.usedby-desc>p{
    font-weight: 400;
    color: #5F6D7E;
    font-size: 16px;
    letter-spacing: -0.1px;
}
