.first-section{
    background: rgba(43, 99, 217, 1);
    overflow: hidden;
}

.messsage-for-all{
    background: #ffffff;
}

html,body{
    background: #ffffff;
}

.section4-layout{
    background: #151B28;
}


.footer{
    background: #151B28;
}