.logo{
    height: 40px;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 0 100px;
    height: 86px;
    border: 1px solid rgba(100, 142, 247, 1);
}

.left-nav{
    display: flex;
    gap: 64px;
    align-items: center;
    width: 50%;
}

.nav-links{
    display: flex;
    flex-direction: row;
    gap: 32px;
}

#tab-links{
   font-size: 15px;
}





.login-btns{
    display: flex;
    flex-direction: row;
    gap: 32px;
}
.login-btn{
    font-size: 15px;
}
.signup-btn{
    
    background: #437EF7;
    width: 91px;
    height: 46px;
    border-radius: 6px;
    font-size: 15px;
    
}
.nav-icon{
    display: none;
}

@media screen and (min-width: 1600px) {
    .logo{
        height: 50px;
    }
    #tab-links{
        font-size: 25px;
    }
    .login-btn, .signup-btn{
        font-size: 25px;
        width: 120px;
    }
}

@media screen and (max-width:1350px) {
    .navbar{
        padding: 50px;
    }
    .left-nav{
        width: auto;
        gap: 15px;
    }
}




@media screen and (max-width:1050px) {
    .navbar{
        padding: 16px;
        height: 64px;
    }    
    .nav-links{
        display: none;
    }
    .login-btns{
        display: none;
    }
    .nav-icon{
    display: block;
    }
    .logo{
        height: auto;
        width: 120px;
    }
}
