.footer-section {
  max-width: 100%;
  padding: 64px 100px;
}

.footer-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer-sec1 > div > img {
  width: 150px;
  height: 28px;
}
.footer-sec1 p {
  color: #a5acba;
  letter-spacing: -0.1px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.footer-sec1 {
  width: 230px;
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}

.footer-sec2 {
  width: auto;
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}

.footer-sec1 > div > h2,
.footer-sec2 > div > h2 {
  font-size: 16px;
  font-weight: 600;
  letter-spacing: -0.1px;
  color: #f9f9f9;
}

.footer-tabs {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.footer-tabs p {
  color: #a5acba;
  letter-spacing: -0.1px;
  font-size: 16px;
  font-weight: 500;
}

.footer-sec3 {
  width: 285px;
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}

.footer-sec3 p {
  color: #a5acba;
  letter-spacing: -0.1px;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}

.footer-sec3-part2 {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}

.email-input2 {
  margin: auto;
  color: #a5acba;
  width: 302px;
  height: 46px;
  border-radius: 6px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #1018280a;
}

.email-input2 > input {
  padding: 8px 16px;
  width: 214px;
  height: 46px;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  box-shadow: 1px 2px #1018280a;
  color: #a5acba;
  font-size: 15px;
  font-weight: 400px;
  letter-spacing: -0.1px;
  background: #2c3444;
}

.email-input2 > button {
  width: 88px;
  height: 46px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  background: #437ef7;
  color: #ffffff;
  border-color: #437ef7;
}

.copyrights {
  margin-top: 48px;
  padding-top: 24px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-top: 0.1px solid #2E3545;
}

.copyrights>p{
  color: #A5ACBA;
  font-size: 16px;
  letter-spacing: -0.1px;
  font-weight: 400;
}
.social-medias {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  gap: 24px;
}

@media screen and (min-width: 1920px) {
  .footer-section {
    padding: 70px 240px !important;
  }

  .footer-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .footer-sec1 {
    width: 300px;
  }

  .footer-sec2,
  .footer-sec3 {
    width: 300px;
  }

  .footer-sec1 > div > img {
    width: 180px;
    height: 36px;
  }

  .footer-sec1 p,
  .footer-sec2 p,
  .footer-sec3 p {
    font-size: 18px;
    line-height: 28px;
  }

  .footer-sec1 > div > h2,
  .footer-sec2 > div > h2 {
    font-size: 18px;
  }

  .email-input2 {
    width: 400px;
    height: 50px;
  }

  .email-input2 > input {
    width: 320px;
  }

  .email-input2 > button {
    width: 100px;
  }

  .copyrights {
    padding-top: 32px;
  }

  .social-medias {
    gap: 30px;
  }
}

@media screen and (min-width: 1600px) {
  .footer-section {
    padding: 50px 160px;
  }

  .footer-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .footer-sec1 {
    width: 280px !important;
  }

  .footer-sec2 {
    width: 280px !important;
  }
  .footer-sec3{
    width: 300px !important;
  }

  .footer-sec1 > div > img {
    width: 160px;
    height: 32px;
  }

  .footer-sec1 p,
  .footer-sec2 p,
  .footer-sec3 p {
    font-size: 17px;
    line-height: 26px;
  }

  .footer-sec1 > div > h2,
  .footer-sec2 > div > h2 {
    font-size: 17px;
  }

  .email-input2 {
    width: 380px;
    height: 48px;
  }

  .email-input2 > input {
    width: 310px;
  }

  .email-input2 > button {
    width: 95px;
  }

  .copyrights {
    padding-top: 28px;
  }

  .social-medias {
    gap: 28px;
  }
}



@media screen and (max-width: 1050px) {
  .footer-section {
    padding: 32px;
  }
  .footer-container {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
  }
  .footer-container > div {
    width: calc(50% - 1rem); /* two items per row with gap */
  }

  .email-input2 {
    width: 100%;
    height: 46px;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #1018280a;
  }

  .email-input2 > input {
    padding: 8px 16px;
    width: 100%;
    height: 46px;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    box-shadow: 1px 2px #1018280a;
    color: #a5acba;
    font-size: 15px;
    font-weight: 400px;
    letter-spacing: -0.1px;
    background: #2c3444;
  }

  .email-input2 > button {
    width: 88px;
    height: 46px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    background: #437ef7;
    color: #ffffff;
    border-color: #437ef7;
  }

  /* Default order for all sections */
  .footer-sec1 {
    order: 0;
  }
  .footer-sec3 {
    order: 1;
  } /* Move this to second */
  .footer-sec2:nth-of-type(2) {
    order: 3;
  } /* Was second, now third */
  .footer-sec2:nth-of-type(3) {
    order: 4;
  } /* Was third, now fourth */



  .copyrights {
  padding-top: 16px;

}

.social-medias {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  gap: 24px;
}
}

@media screen and (max-width: 600px) {
  

  .footer-section{
    padding: 32px 16px;
  }

  .footer-container{
    row-gap: 24px;
    column-gap: 64px;
  }
  /* Default order for all sections */
  .footer-sec1 {
    order: 0;
  }
  .footer-sec3 {
    order: 3;
  } /* Move this to second */
  .footer-sec2:nth-of-type(2) {
    order: 1;
    flex: 1 1 5%;
  } /* Was second, now third */
  .footer-sec2:nth-of-type(3) {
    order: 2;
    flex: 1 1 5%;
  } /* Was third, now fourth */


    .footer-sec1 {
    flex: 1 1 100%; /* Full width */
  }

  .resources,
  .products {
    flex: 1 1 10%; /* Each will take 50% of the width */
  }

  .footer-sec3 {
    flex: 1 1 100%; /* Full width */
  }


  .copyrights{
    flex-direction: column;
    gap: 16px;
    margin-top: 24px;
    padding-top: 16px;
  }
  .copyrights>.social-medias{
    padding: 0 16px;
    
  }
}
